<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConnStr" connectionString="Server = 94.73.170.45 ; Database = u7173324_PSurvey; user id=u7173324_PSurvey;password=rB3_:G3=Tm.b0Kb8; Trusted_Connection = False;Encrypt=false;"/>
  </connectionStrings>
</configuration>